.countdown-container {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.countdown-container1 {
  flex: 0 0 auto;
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-large);
  display: flex;
  box-shadow: 5px 5px 50px 0px rgba(220, 104, 240, 0.46);
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  border-radius: 40%;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(45deg, rgb(220, 104, 240) 0.00%,rgb(248, 158, 101) 100.00%);
}
.countdown-text {
  font-size: 60px;
  align-self: center;
  text-align: center;
  font-family: "Arial Black";
  animation-name: flash;
  text-transform: uppercase;
  animation-delay: 0s;
  animation-duration: 500ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.countdown-container2 {
  flex: 0 0 auto;
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-large);
  display: flex;
  box-shadow: 5px 5px 50px 0px rgba(220, 104, 240, 0.46);
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  border-radius: 40%;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(45deg, rgb(220, 104, 240) 0.00%,rgb(248, 158, 101) 100.00%);
}
.countdown-text2 {
  font-size: 60px;
  align-self: center;
  text-align: center;
  font-family: "Arial Black";
  animation-name: flash;
  text-transform: uppercase;
  animation-delay: 0.2s;
  animation-duration: 500ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.countdown-text3 {
  align-self: center;
}
.countdown-container3 {
  flex: 0 0 auto;
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-large);
  display: flex;
  box-shadow: 5px 5px 50px 0px rgba(220, 104, 240, 0.46);
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  border-radius: 40%;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(45deg, rgb(220, 104, 240) 0.00%,rgb(248, 158, 101) 100.00%);
}
.countdown-text4 {
  font-size: 60px;
  align-self: center;
  text-align: center;
  font-family: "Arial Black";
  animation-name: flash;
  text-transform: uppercase;
  animation-delay: 0.4s;
  animation-duration: 500ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.countdown-text5 {
  align-self: center;
}
.countdown-container4 {
  flex: 0 0 auto;
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-large);
  display: flex;
  box-shadow: 5px 5px 50px 0px rgba(220, 104, 240, 0.46);
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  border-radius: 40%;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(45deg, rgb(220, 104, 240) 0.00%,rgb(248, 158, 101) 100.00%);
}
.countdown-text6 {
  font-size: 60px;
  align-self: center;
  text-align: center;
  font-family: "Arial Black";
  animation-name: flash;
  text-transform: uppercase;
  animation-delay: 0.6s;
  animation-duration: 500ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.countdown-text7 {
  align-self: center;
}

@media(max-width: 479px) {
  .countdown-container {
    width: auto;
    height: auto;
  }
  .countdown-container1 {
    width: auto;
    height: auto;
    border-radius: 40%;
  }
  .countdown-text {
    font-size: 3.75rem;
  }
  .countdown-container2 {
    width: auto;
    height: auto;
    border-radius: 40%;
  }
  .countdown-text2 {
    font-size: 3.75rem;
  }
  .countdown-container3 {
    width: auto;
    height: auto;
    border-radius: 40%;
  }
  .countdown-text4 {
    font-size: 3.75rem;
  }
  .countdown-container4 {
    width: auto;
    height: auto;
    border-radius: 40%;
  }
  .countdown-text6 {
    font-size: 3.75rem;
  }
}
